{
    "bot": {
        "token": "",
        "prefix": "?",
        "admin": [
            "userID"
        ]
    },
    "database": {
        "host": "mongodb://localhost:27017",
        "name": "analysisbot"
    },
    "web": {
        "port": 8080,
        "origin": "*"
    }
}
