{
    "bot": {
        "token": "",
        "prefix": "?",
        "admin": [
            "userID"
        ],
        "embed": {
            "color": 4886754,
            "errorColor": 13632027,
            "rank": {
                "description": "Rank"
            }
        },
        "messageCooldownSecond": 300
    },
    "database": {
        "host": "mongodb://localhost:27017",
        "name": "analysisbot"
    },
    "cache": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "web": {
        "port": 8080,
        "devPort": 8081,
        "devMode": false,
        "origin": "*",
        "recaptcha": {
            "secretKey": ""
        },
        "cacheDayTTL": 10
    }
}
